/* * {
  box-sizing: border-box;
} */

@media (min-width: 576px) {
}

#margin {
  width: 850px;
  margin: 0 auto;
}

.side-crop {
  background-image: url("hubble_blackhole_crop2.jpg");
  background-repeat: round;
}

.container {
  display: grid;
  /* grid-template-columns: 20.5% 22.1%;
  grid-template-rows: 27% 35.5%; */
  grid-template-columns: 37.5%;
  grid-template-rows: 27%;
}

#nasa {
  /* margin: 50px auto; */
  margin: auto;
  margin-top: 163px;
  padding-right: 3.5px;
  /* grid-area: 2/2; */
  grid-area: 2/1;
  font-family: "nasalizationregular";
  /* font-family: "Telex", sans-serif; */
  font-size: 74px;
  color: rgb(166, 213, 243);
}

#banner {
  margin: 10px auto;
  height: 450px;
  /* background-image: url("hubble_blackhole_crop2.jpg"); */
  background-repeat: round;
  color: white;
}

.flex {
  font-family: "nasalizationregular";
  /* font-family: "Telex", sans-serif; */
  margin-top: 20px;
  width: 100%;
  /* background-image: url("nasa-jfk-space-center.jpg"); */
  background-repeat: no-repeat;
  display: flex;
  height: 324px;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

article {
  width: 270px;
  /* background-color: rgb(224, 222, 222); */
  /* padding: 0px 0px 0px 20px; */
  padding-left: 20px;
  /* font-size: 18px; */
}

.header-text {
  margin-bottom: 15px;
  font-size: 24px;
  /* font-weight: bold; */
  color: rgb(255, 30, 30);
}

/* a {
  font-size: 16px;
} */

p {
  margin: 0;
  /* padding-bottom: 1px; */
  /* color: rgba(0, 0, 0, 0.747); */
  /* color: aliceblue; */
  color: rgb(166, 213, 243);
  font-size: 15px;
  /* font-weight: lighter; */
}

.link-text {
  /* color: aliceblue; */
  color: rgb(166, 213, 243);
  font-size: 15px;
  /* font-weight: lighter; */
}

/* #contact-info {
  padding-bottom: 0px;
} */

#contact-info p {
  padding-bottom: 2px;
}

#name-box {
  /* background-image: url("nasa-jfk-space-center.jpg");
  background-repeat: no-repeat; */
  background-color: transparent;
  margin-bottom: 20px;
  padding: 5px;
  width: 210px;
  font-size: 15px;
  /* font-weight: 400; */
  /* color: rgb(166, 213, 243); */
}

#message-box {
  /* background-image: url("hubble_blackhole_crop2.jpg"); */
  background-color: transparent;
  width: 216.842px;
  height: 40px;
  font-size: 15px;
  /* font-weight: 400; */
  /* color: rgb(166, 213, 243); */
  /* color: rgba(0, 0, 0, 0.747); */
}

.message-text,
/* #section-text, */
/* .link-text, */
::placeholder {
  font-family: "nasalizationregular";
  color: rgb(255, 30, 30);
}

.button {
  font-family: "nasalizationregular";
  background-color: transparent;
  margin-top: 4px;
  padding: 10px;
  /* background-color: rgb(88, 85, 85); */
  /* border-radius: 50%; */
  color: rgb(255, 30, 30);
  font-size: 15px;
}

#name-box,
#message-box,
.button {
  border: 1px solid;
  border-radius: 3%;
  border-top-color: rgba(166, 213, 243, 0.623);
  border-right-color: rgb(166, 213, 243);
  border-bottom-color: rgb(166, 213, 243);
  border-left-color: rgba(166, 213, 243, 0.623);
}
