* {
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 81, 81);
}

#margin {
  width: 600px;
  height: 600px;
  margin: 100 auto;
  /* border-color: transparent; */
  /* background-color: aliceblue; */
}

.game-grid {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  border: dotted thin rgba(0, 0, 0, 0.199);
  border-color: transparent;
  cursor: pointer;
}

.left-right-boarder {
  border-bottom: solid 4px black;
  border-right: solid 4px black;
}

.bottom-boarder {
  border-bottom: solid 4px black;
}

.right-boarder {
  border-right: solid 4px black;
}
