* {
  box-sizing: border-box;
}

/* body {
  background: aliceblue;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100%;
} */

.container {
  display: grid;
  grid-template-areas:
    "hd hd"
    "calc td"
    "date cal";
}

body {
  background-image: url("Wotherspoons1.jpg");
  background-size: 1600px 1000px;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: space-around;
  height: 100vh; */
}

main {
  display: grid;
  grid-template-rows: 10% 50% 40%;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

/* Greeting */

.greeting {
  grid-column: span 2;
  text-align: center;
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  font-weight: bold;
  color: rgb(26, 32, 121);
}

/* Calculator */

.calculator {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 300px;
  min-height: auto;
  margin: 0 auto;
  border: 2px solid rgb(119, 174, 219);
  border-radius: 25px;
}

.calculator input {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid rgb(119, 174, 219);
  border-bottom-style: groove;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  text-align: right;
  font-size: 40px;
  font-family: monospace;
  color: rgb(241, 199, 233);
}

.calculator-buttons {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;
  min-height: 30px;
  grid-gap: 10px;
}

.calc-button {
  max-width: 300px;
  min-height: auto;
  background: rgb(97, 97, 97);
  border: 1px solid black;
  padding: 10px;
  color: rgb(241, 199, 233);
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.is {
  color: rgb(54, 159, 224);
}

.is-period {
  font-weight: bold;
}

.is-equals {
  background-color: rgb(54, 159, 224);
  color: rgb(241, 199, 233);
}

.are {
  font-size: 30px;
}

.is-clear {
  color: rgb(255, 172, 172);
}

/* To Do List */

.to-do {
  grid-column: 2/2;
  grid-row: 2/3;
  background-color: rgb(45, 65, 45);
  padding: 10px 10px 0px 20px;
  width: 80%;
  min-height: 75%;
  margin: 0 auto;
  border: 2px solid rgb(241, 199, 233);
  border-radius: 25px;
}

#list {
  color: rgb(241, 199, 233);
  font-size: 50px;
}

#checkbox {
  color: blueviolet;
}

#placeholder {
  color: blueviolet;
  font-size: 15px;
  font-family: "Rock Salt", cursive;
  padding: 4px;
  width: 90%;
}

#text {
  background-color: rgb(241, 199, 233);
  border: solid rgb(46, 97, 52);
  border-bottom-color: rgb(224, 231, 238);
  color: blueviolet;
  font-size: 15px;
  font-family: "Rock Salt", cursive;
  padding: 4px;
  width: 90%;
}

/* Date and Time */

.time {
  grid-column: 1/2;
  grid-row: 3/3;
  font-size: 45px;
  margin: 100px auto;
  color: rgb(241, 199, 233);
  font-family: "Cutive Mono", monospace;
}

/* Calendar */

.calendar {
  grid-column: 2/2;
  grid-row: 3/3;
  max-width: 750px;
  min-height: 50%;
  padding: 10px;
  background-color: rgb(45, 65, 45);
  border: 2px solid rgb(119, 174, 219);
  border-radius: 25px;
}

.calendar .date {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  box-sizing: border-box;
}

.calendar .date div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 25px;
}

.day {
  background-color: rgb(241, 199, 233);
  color: rgb(119, 174, 219);
}

.number {
  background-color: rgb(54, 159, 224);
  cursor: pointer;
}

/* PHONE */

@media (max-width: 576px) {
  .container {
    display: grid;
    grid-template-areas:
      "hd hd"
      "calc clock"
      "td cal";
  }

  /* Greeting */

  .greeting {
    padding-top: 10px;
    color: rgb(121, 26, 85);
  }

  /* Calculator */

  .is-equals {
    background-color: rgb(30, 255, 0);
    color: rgb(97, 97, 97);
  }

  .are {
    font-size: 26px;
  }

  .is-clear {
    color: rgb(30, 255, 0);
  }

  /* To Do List */

  #list {
    font-size: 30px;
  }

  #text {
    width: 87%;
    height: 52px;
  }

  /* Date and Time */

  .time {
    font-size: 30px;
    padding: 0px 30px 0px;
    color: rgb(22, 55, 240);
    font-weight: bold;
  }

  .day {
    max-width: 212px;
  }

  .number {
    max-width: 212px;
    font-size: 20px;
    color: rgb(241, 199, 233);
  }
}

/* Medium and up (Tablets) */

@media (min-width: 578px) {
  /* Greeting */

  .greeting {
    padding-top: 10px;
    color: rgb(72, 157, 214);
  }

  /* Calculator */

  .are {
    font-size: 26px;
  }

  /* To Do List */

  #list {
    font-size: 30px;
  }

  #text {
    width: 87%;
    height: 52px;
  }

  /* Date and Time */

  .time {
    font-size: 38px;
    padding: 0px 70px 0px;
    color: rgb(212, 0, 255);
    font-weight: bold;
  }

  .day {
    max-width: 212px;
    color: rgb(218, 26, 182);
  }

  .number {
    max-width: 212px;
    font-size: 20px;
    color: rgb(218, 26, 182);
  }
}
