body{
    background-color: rgb(61, 16, 68);
}

main {
    width: 60%;
    margin: auto;
}

section {
    background-color: rgb(127, 143, 156);
    padding: 10px;
    margin-bottom: 1px;
    font-family: 'Courier New', Courier, monospace
}

section h2 {
    margin-top: 0;
}
