
@font-face {
  font-family: 'TheArtofIlluminating';
  src: url('TheArtofIlluminating.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheArtofIlluminating';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACI0AAsAAAAALjQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABfAAAAE4A
AABWu0G9vmNtYXAAAAM0AAACDwAAAvxgoyM5Z2FzcAAAIiwAAAAIAAAACP//AANnbHlmAAAGQAAA
GDIAACBY0amjimhlYWQAAAEIAAAANAAAADbkbPWraGhlYQAAATwAAAAgAAAAJA07Bk5obXR4AAAB
zAAAAWYAAAH0ar/8GWxvY2EAAAVEAAAA/AAAAPw4akESbWF4cAAAAVwAAAAgAAAAIATqAMduYW1l
AAAedAAAAqIAAAUAI06O5HBvc3QAACEYAAABEwAAAVa2vKUSeNpjYGRgYADi6u7e7nh+m68M3BwM
ILB/z7UyMH3rqup/kb+X2Raz2wO5nCC1DAwAYr4NCXjaY2BkYGC3++fH4Myh/V/kfzjbYgagCAqo
BQB/NwWZAAEAAAB9AE0ABgBHAAUAAgAQAC8AQgAABAwAAAADAAJ42mNgZDrJOIGBlYGDdRarMQMD
ozSEZr7IkMYkxMDAxAADCxiY1gcwVPyG8YPDFBQYHBgU1KxYL/8LZDRmt2PclMDAOP/+dwYGAB9q
D2sAAHjaLVE7SANBFJzbtyGHhYkfjrNQtIgp/BURRcHGgCDprERtBEUtrESxCMHGNCaIIZXYBRvt
bETBqCBiE7QQ7axMYWEnWFiss3d3MMy+2dndee/0HpLgpyZCOPNIOiWyi1E1TG0BEMLJwpNddDtD
rNsAvUVtjesXemrke2rt5A9ig9ofsU5PCp6TgCuzgR6XNH1jXH+jR32Rp0zFvkO+VMs8k+PaN3kp
mE7l8/w+EiJm2ymZTX1KT5Mo06PNjmTJaVORd9NQVfMq16yLph7rMHVqB9JrHmx2aeG9ZXjM7Kk+
NvuIfvGRUW/Ur6Iebf8nZELdRLrd/w0zqULos2+rKnEW9f0U4ZzIMO8npmO3QKzJ/XGk6Bvk3KAP
OQPm0Ctw9Qh9ee7fERfUFnm2hkmZYc27OK9WNBB3jlnbe4rEc5QhF7xhM3hqlbPlv1JHYXbrC3IQ
uiuYHWSJ+hzxE/4PdwD4B/FmV+oAAHjadZLJT1NRFMZ/rwVEUZxwoCo+q4KICMW5oECBQqFMRRAL
lLY4MI9lEA0L/wL3bjRu1GCjiYmuHDbEnXFjjLGl0cS4My5NbK6nTSEQ5dzc87577vu+c+85FzCg
EbMMjDGkmWSmkAjK10Dsn9Umm8ak5BhKWZfK+g1pGzelb96yddv2jB07d+3ONO3Zuy9rv37AfPDQ
4eycI7lH847lHy8otBSdOHnq9JmznMNaXMLadp4LlJZRbquorLJXUyMhR21dfMtZ30BjU7MLWmR1
EVrbuNR+2d1B52qNLs8SMnbj9SWwH3q4EodXr12nt69/YHBoeGR0bJyJwOTU9AqBJO2r+AbKSCYd
M7kUUIhb8niZ5RZz3OcRQZ7xnBcs8J6PhPjOT6KapqVqFq1FmzEsGL4Y53STnqWb9XlzptmbbVVK
dHVyyBM9i+h58MX17vGQJzyN673mHR/4RIQf/NKkI6Ln0qb/r6e+qUUVBhVWIfGv1Fv1Zuka6oEK
/lthZY/5aCDq/3M34ow4IkWLL8PO0O/PtuXG18R9ZWJlE2RPxOxSdz+DTHGbO3LmxxKbJ7hGM/Ox
UkyJvC4P7bSRRqv0rpMuuumnVzRLpcZu0SunjwFGGWKYEck4wRjjUu0KOiRXgEk5w4xkr6J6meUQ
Vi11K1j1OKVrjcLyC6+ZJlxx3qyMGzJuSrV98gp6/gJmyonqAAAAAGwAbABsAGwApgCyAMwA9AEc
AUoBYgF8AZYBsAGwAbgB7gIaAkwCigK+AvgDLgNgA24DegOUA8QD3gQQBF4EnATQBPoFLgVgBZIF
3AYiBlYGhAbSBvQHRgd2B5gH2AgUCEAIdgioCNYJCAlSCawJ4gowCkgKYApuCoYKlAqwCrwKyArU
CuAK7Ar4CwQLEAscCygLNAtAC0wLWAtkC3ALfAuIC5QLoAvGC+IMXAzGDN4M7Az4DVANXA1oDZgN
0A3cDegOJg42DkIOmg6kDq4OuA7EDtAO3A7oDvQPAA8MDxgPJA8wDzwPSA9UD2APbA+QD5wPqA+0
D8AQLHjahVkJXFNX1n/35SVPFJfwNpSikkBeFqJAElISEkDcqAKyirRUpUoQxDpatCJia+tC7VhR
q3Wj03F0xA2wVTsulNrqaMfqWNfaOrWV1tFOO/3GdupCLt+5L5jazsyv/ELey0ly7rln+Z//uaE0
VD+KYihmMMVSfSmRiqPslIeiECuyotMuqzWsLVFOlDl4JTpkhjVIGknDJrKilGjTxCTKolNOdMo6
mWITZUYSnRpJNuhRbUb/mKqYeJRfFT45Lvz20cWrMjJqSrEten/4/qro/v1XZUSHx4SjSeGh0eFx
q8LDC+LxmtCv9qOvQj1xoTH9wzOYweFLqsIXT/ZUVdV4ohsz8JqqeM/k06Hz4mt2xKwKjT49L8MT
syQjPi48PCO+oX+c/9+e3pMz4sOjw0PjCyj4o2FffVEBS1MCFUNRnE2yJdokgdVKgobVqRx2m1Z2
cDZR4Fm9waGHZ53DWdN3fCxjjIyMfDJGmm6JLOXq6nqOj5R7ctUsXV09NHxk54xRIy+IKH7oUPrS
yMP3Zs9MCZ+ZZo8NjzwKS3Z1gSfjUInaR+kozSmKUlEa6g14A1F2Jo46DPJQsASMCDz0sn133zF9
4a+fVe3rlTWlV6/0Xr161RyhlO9QOI+2sg6wn6IkQS/rWS1HRSL4mlOm+iO7E1nPW9PTJ0goKlYS
xWG46Ac24V+SdUnnMDwDb5tntUriSeRDPZihLY0/14dEQdsPsRLoctgRpwXdekcievQHPCFdFEUr
0okT0tNjz7GOxpb7Z/EdvP6kKFmt81AxWqVqW2KV/kX0wQbjme3UANCXAG60OSWNBVGs3o6cMis7
Et1I4hLpo9arRRtjy5e34lsOEYWIL7aKtVvEjRsszPZhUzvF9ONYLY1BrcPEYaJ4VUSOKWTvYtcM
1JPCVG+KckLUeBbi5XTYZcdGqej7dDEdT5jw+2QpVrQ+lhNLPh9J91EVqyKIfxFE2inxbAwxAaXO
HL7kTesHePxbYp0qwmpNf+y59HRJvBawn/qMugxZD2v8Ig96FxWxyUKEpk/O5SyLNssaPVDLLw18
h/6SOUCFwDpglkqDZMpJHzJjAReZ6RejmAMWcwG+vMbfbGZmabpzAj47iWmCjJwbiCv47RLTTA2m
qBBER2kiEXiKgXQwWBAbJTv6OWMcMq03QGicqB51VeDPW2fUbUYUz02seT8bLzc2onr35o8XRRxj
mvFy3GiU60uXnOBL3cb3UXhi4xx3F+VIkwc4uu2tgrUiSIw4QaMXIxGvhqiDV20Oe4wj0Ua8isTH
zxpmvovPV15MFb8uxF1D/3gRdN+qfPe1urS9Uy6mpu2yFN0U15qf2GoJ7mEFs58aRPJZS0ID+UO8
COXFyjwrcw4ZkkurkxObzldULExZKLxjNi+sMAsFbeK5pPi5zP6beHhF20JhddqKxf7HU/MtQlzf
FJSXKuw4j/Kmnete4yvmCiUHfK3W62Q9XEQJ0XqdB/LflsDBwjEGh+x0OKNEN0pQfcTj01NfmMWj
XSUjMX1hsecV49czc/CZH3jegxIKMw+MY67wnkOlZfM9ZVM+xw0owWiKKcDXc2sGTFop55Zd8+Qq
2EHW3st8BXj4iLI6bUHdq0cijRppZSRFIYEsr9osFJ2Yv3iWgI6t9OP7+ICANvpQLz/+0ct8xXvx
Nd98r6+12HSzEW1ET/pQhtffbsI/5M43P/DjWGYbFU38GOUkKUXKSK9TQUGiYBXpNaT8IWyX9yDV
dPG9tNcsGV/tXrRIQP0X7RZrfmdZt0ho/fp5URREZlsaXLLwbTHtPTx/kUhHCiC4LCJmukUQRMAk
ssF2ZicVRvUnOYhEQES9ssVoD3IaPChREkhyyFzggir/9ITh6Qt/XF/QRe24sHReZepasSL1VWZn
8eGK9q8r8dfNDUL72WJh76hXKy1zJmJKuVAP/EhboV7CFD/a1KzAUSq9QS8jB4TNkShpAZYdWrte
h6TeKKR3b3y/foB3kBGF7Oq9LL7PgBLjQObAn4cZ8Qb8Nf6hBOTGhI7Fq5rO4qL0tBzUNADqS0Q7
qPvMekoP1f8I3KvgKqreVWqvB8ER1TPKez3oTWBRz+78VakosAteaQEBBUAQpIdv+j+lo0f719Oj
zVPRtQW4D56TUov2B/bCotWq4arvQFPEL1CGU15o2MEyCVQiMj8EOluV+7qx+JuK2KpRAELf/QRC
+DjcX+xZXJwewCOGvge1qliod9hDkAOsonf4G0fTg/3X6HvoAM6s9aKl6NtaHD3V9CBPO9ULKI7Y
FIL6gYP1MXaCHxZkIDUCprEyyaVmOhOXSyL+DlUMP3RVfP3U3cSqZTkRTvUCnIvbh4nXT3UVvD4c
fzzRZB2U3HlmKbwXEdj3QOq4qgVw3kjFk30P5kC3DEiv04bZJCdUf6IHYEzPaMPciIA1qx+scoRx
Am9LcGplHbphRPXhEaPfzOanyG+Kl6dkG59KjsXfJuOlw+8d53k++Qq+XjLv2PJxxmcXMNv99zF2
uxGNzDIn48d6r0pGb9hxJV7KcXwyOjkOncR9+TfHIdFIdefyUvCZCFYaSJdPEICXSFpW1vPESlYH
WiCfRcmmZfWqQLbp25IM67OiJxqSOIPB8EmtJWqWIb6Hd9T6pF0cx320i2meZXht4v1OQ9LYs9Pm
d9Dud862ra+yoHgDLsE/TExyoXRYtmsVPN1kB1ESrA0YQWsFJ+AfjwhyO7X99A6nQ7JxsKQWCNFz
3Kwfz+Id3In5hrNcW9LinUmGJHZQEv4Cd3R0bJ3r76rEn96MaktSTUOFYATX+Rv8mzZa3tGN4dBY
oFoJEmlIl2K1sCGnjfQMWAsy0IkWbyqscsFmXVlZnF92b+Q440bmQLN7WZp9Gfa91dfN+wdfrb51
U85xgu0HQOc3bEggb7gwpJIUs/ulQM5B6jkTOZYYbpdXfIEW8Dyex5ec3FyN33RV227z2dWb2BCg
GKP9JybjK6l3W9Dfn8qW0TNc1JAF/jH1/n319JLyp4P1PwByJ+AjG0HPvkiArFFM10HlO+1OljQQ
8FGxvP6P87gNS7h7hhHlmbMh4rMNLmZ7VU37iRGZmRsmcdy9mI0uusYgZ0iT8HOzl+5+0Ivo7zUd
ygoiYVV6lWADDO3HsQHU1Dq10J1s2mh65J5njmZx3B55hi+T4w38HlmWJxuTkFbTYYuY5MIFnLzR
X4g/5yc/I6O+Lnp1ViYquUkxXbX4SVVPwMz+VBTUAaEcNgQcTqvRCyIHa+rIdlhAbAfnVLGSExqf
KkGwOUAIz2i6gHSCoCsuW2BqGHGVj/YvQJPO8HcF4Yxgn7V1a0fcS3d4Zie+vbLhIL6dZ1LhLwTT
ArMgCGjidS9d5PMv5Dt89KKV98u8Qln5VhPUPuri/Vg1QXORgkaikqIgMwTwo0LsNEI3s3MSZqeV
9FAIcgKnBWBwXr6FNsjV8q1buCbLBdtHWr5UXsZxpfNH87YI/AavucjLcs06XHNp5wmAhmv4UvXk
LKOxegXq1UKXbMrqvFaa1XO4m15H77xq57kgzqOb6tPAiwYp2Cho1ACMYSqbGKDcUIdK/wLHeBDa
w8s98ZebudMT5McLZPLH13Oy7FafluWkcS08hybhT9ybZLdf7eLl6mp5s4t+UjZCrPviF9Bn6hkK
Aku8WoB4a0WobLJBPfBYqDkAOzs6osMHd9psWu0Iz1htWJjdZ9OrZ9g9bm19uc0/rgXP0xZyBWH0
fLp4xIhndTptLdRENfjRpLkN/rTBnVJgkqDTOknW8izEOQEmB4NWFpS84gOJZQBoFSQhgSTwlOM6
zrVHnnzBtXTPE7lZQ9ZcyIRKdvGTYIMTXkFNsu/59IGa2+E6Web8o9/NXr/MOFF+Gf/bUDr7tyjd
JeMKzpX8qEyPd6ny9nCdGzjXxo2Ze4hru6rg6XmYZbRgWZRkUyk0i7AsA9DVSnSM59xGY/ZLMj/0
6WyW5nHp/Xp3Nkhk9bONc4xKeEjNM78FrHQQ38EwlCApgXGAGih0VqXsSxfwI0sQlGyT3EPxOODT
NnS1Vd5tKXhRdsutPD/HDdjNGT1jeUiebFk2ZvEczxtdxlY5Jodnmls3H+t8y8273W4etaBLRpnH
Qiu+wmdn8yiLDivlOp+FkJP7TIh/q7y520Z6D2BdRGBig+7CCmSfAYvAEsho1pGYx23i3rvIlT7D
89Vul6vUJbvcScwfNjXf6qwCI2QO3UCzqi/608nqLtUIMLUuiEf5gEchxJPAfLTQxwwOrVOl5Qnc
oVE1q3ctS7pxQ94AwOPY6w87d2oIvWIS/gx/+Nsq2ucjuD/H/0/6T+DHKMJMOclJ2g1QGsWb4DQd
4b5OB/Gekh5qAqTyxI0XuYt+LjcD8jzLkBUZSTIjk5ePDipAj8kbq5lNm5ov+ifcdHF4iCtLdruz
UD85M2uyW75Jj8qUJ/s/lGlbdWAP/nOqcvDRAMIaEdBe8FIY6QU6x4MiAxqi0jqVLpHo1KqQ/vmY
vDNC9HCzYBKEBsFkMl0t/utd0wy96dkhPHPg0Dbh/kn/l7zZKywwH/Kiqx2oN/2akIf1b6uGZyI9
cpLYkH7XGZglOMlmT4EyhzXlh8pbyZWSLZ4VvOn7FULeyx6j0akRpvKmnByBaT6QnCucWrHC49d6
PKayMpOqIMcjgN4PIae/Yf6pIAcZ9QjPZ0W1KCCVrEwVhOZHOwjlVl0WOu6Mq+SFNFRyxn/vTrmv
cEp5/e48/1kBNZaj3sw/BfOy9b6GYucbbXg5ShSEOUPxZ7nbGhp8aIwX1joPe5issSprQTnrBYWv
aFnepnRWgh/Ef8roeN0cnrPanD9N2C78/vFn48xm80eWURprij/FkpKPI+qaBKGtqOxIal1KagoK
E1LMU6jgbPQ9zEaKnyD4TqC3pEWT4chJVgm4at0lsbKwUkxYebQy7ZXZ82ftin13OrP/sn/lukJ6
pEUQK6peme2vSRMtR3ftukQvKSSx72oD3YnMPuA7kd0VAt7R8mo2eigC2+0WBIYrCafxwcR1riC/
AO9JxX93CebVYjya0yZMq2D2tbXhb/zfvbE35VxFxZqUAmwuw5/iCe/QBytiAmswl5m9gIMK30sY
hGzKZAcTmIrMyE4lzCCStLxeSAgQePlBoutpySwXCKYOoQNnCnfvmg6ZvV7zNlPKVu+oUKHWW4ve
rM3zCczercLBHdfw774/j3rfWbHmEKpPMZs79F/jUrN3W/589NJ0rancf6+BfsEHcVuOX2KcMEOn
KlVrU8ZXp5IsshZophI9QREpUzxhqMpnEsjZhg5Azk4AWuAV/8hj15nK+bzTucId02lvwTjePOk1
n9nH/+hd6f3DgpXePKHMVFplNo0YY/oxN88kLGOa+uwqz/V6BX5luRd/7zPlNvypNpc3/fjYCL/f
a/bloU0o1OTxNI44OJ/3ek8rMNP1PtbTH0O9DFCmLBIlGPWBjYMtMunLJLWhjgiYA02m+WO4vjHb
/dTej2U5edR4rjE7e87mrASmuYvCro9unx3vLk1+yn1t7cf0XCPPN8U1ZuMWPKeUnpvVPQf0h7X0
VIKSFzEScKAAGedZYIisMkcmOvWAd7A0TPw84e5A+kgjc4Qd8ExFL/B/qfHwplc+KzOV/aV+YY5n
7Hh+bXOZx+Th0YiaLStM+Lrp2Pgc4TDT7OE9+K8AI54VKW7TVCjvA6a8D8pMJl7wf1I2b6oRX9+S
bOZRfpCfdZ+ZcCJiKZmGMTM1in7RjIsEbGZ+r7m/wkznrEHGArOFnP0wZ+liTTqZgyD7OL0KoukI
Q0P4+BvJ37UNTD6nSccrUA98R4+MgbMiP7OAGk2mAXWUI4pZcH8941ONCaytVqMLmpfJ2hTwNDma
pAViT3ObcUeIzGtexr/j+JZxSbIcqF1D14/UXDaF6OK0eu3cHDblztvsaOU9G3OR/od6Gzkv4hhb
gsOmYfUxhPk5Em+gwdXpMMtJuNL6aC/rEPW25SUrw5aXSMsD5z/0UnULpSOoA7EquhU8FwL58W45
mVqvM992yweovwa5XpGPB9Zzrlt+T90I8tgMosfb505QT76i3/pL/arvFblN0VNEvfzTupqZwXXH
U76uoqB8TtDOZKIoKE8Pyl3UT/afVu8Lyr1f9A3KB4DPA/aDnoc+X6zo0f+HnicUOwPyoofk+erb
3fsidg7EnzyQa5KD+03OafmFfut/6P+z+vWg3PvJ3Z/8oykO+mc89WHXsKC8KChPpo53nQrK04Ny
F7U60I+ZJrQa7OkFUw7FJYgCr9HrDA57oqTTCLxoS0h02A0nC6rn5OfNqc73FBR44F+TTF7Oycuf
41Rewz/JsWEqDm1gKpUcSxiIBL4P0uuGIIfdi7615A615lrhMSSXqQzcBR4UA/v5XP2SugK+N4ga
Ro0l3Y0JE3ia0euiaYc9LFrSMbTAh0HeRoc57HS0OkoxlOVECSi6Hum1A5FNiHIkJDoVOB+C9FyC
FxYGgsnS7+1Due2HcfPBA7j5UBvKb30Dn9i9C9m3NSHHjt34A/95tKhhXdncs4aBnO5tfGWsxjoc
r4wz9WBVrCH2m7nTXbMKjVZ1xX6848BBUHEI5Rw8gAr3u5vwye1N+NTOncjetB05my68UDLmmUH4
kjMslNGhV/EpXaROB41mLN1zTB+xP35hSL593NN9qcDsz6o/Ul9S9pz26zuWOD1sSqdh+yAlKsox
G+WwU7YE8AFEyUnfPIymnjiGN797FL9+/CSaemgnPvT2W2h4Swsavu9tfOh90SRveWb8Estgc/um
U/PlVV3n8D+QoSPBm98/VBseqr7UjjcePYo3vfcemnL0KJrantqCD7a24iP79qH01lY0suUkvrJg
/mj3kLU5n53bwV9A/Y6eRI+ERoRwkQrGxKgb0D02XDlfDk5RqJ2TQ3DHJv4MGx4ckAK5HctcVmqH
nG/BPUERtACuD/J7OOCujjARyNPeyok3Q/WAp6egV8RQFugWSd0cMkGI6R7PoY1CN5V5MuToDR6k
VxscnJyo1pIWqhYCJymCRA5SEGOYIdRNA/azvfCssEaou5i8PcUsmFME3JwyzWyh9y0c4PJn1C2c
ZskXzq1hmlfXfXRj2pGK57bVrUkVO1fXwSenpXyU+yr9aNONTryhLuWcsKYO1OHHj6yJcyH3g/r9
UtmH9ad9kLM9hTduB3kIuYX6W43ZX56JcYbgSXG0I8YmSIwWqRyk97H6U6deF68eGo7Xon6ihF7z
vznLGZGzrCoReTwDraaJ+MrwxoKuU19Iabgd56hjIyJyli5T9PdFIx78ruQMjLRhPx90OdnuRqJg
s3f/sJAZaZkuxTwZGRlpZGLH9+1VzfWUI8f3rKvjvIdH0peGDkVx4vmRozpnjJKGVlerrx+NDI+1
p80MT5kZxN/yn3A559MgrpF+FMQ1Jb7KmRgzmGkFNBpMzsSQFJhg1awIgaX1ytGdrLVLvDIfaO0x
SmBR9fW7wkF8kvd5G/5pO+hrEKp33/GOmOxFztpBdqb1zJmiD2qjcW2DV8C3Dx68Q09Yo3q7AL+1
Io3WtLnwy7XeDrDJRV1XzWWeBJt6QUJDVqJy6rqSleWqJcRmDKmjYL0zWcH65CBnpv8AsUzpznsg
cTCSEkYX+GFGDpA7wl4EZeIhfI/MOiw5r7bBtEWuTgdMtehO2KsLHOMiI0NfrDe2htkfI9fyAk2d
p39hoXSmX2TSSZ9UmqR5NlKYNjbKymzflfRSNhfWz1fVSxvZa8gYreaRUK0udJY0ZsM4SXPlkcjO
04/0CNHOthmZ3lLkuBefIL7vo5pJfcOMVro2uScylppEvYLWkV/9us51xnXHaAIqQStBpqaoTtOv
9tP/1R+Xauoe6te1XWXd8pEP982HeMX/6L+oQzMB5HMDerpudaWR8/PudfUgf+fByt3ygP65M36h
X+FUAT0/7+/56nsP9es++Itf6cv5MIsF+3jMGw/15fSH+vLVLst/yH+mB+QTHurXTTBTouDvbgJh
xP/tHKr+56dPTNN/OXJ6kLOaMd05S+xp77J12x+lCQF5VLedFP6/bnvGqu8G49Wr61/0337mh6if
7Cd5QdGaLZotSh+zUE4q/dd7GXqIZUQ9dI+cSmMjpMGgyrmI1n51DVde/RRXXutAay/tx1vfb0cT
Dh9Gxe3v462YiU1JibWmptJvk5vYtBT/pPxpfznlK0w/9vyi9zRbPsHlf7uKq65dQ6uv/g299knt
IbzlyGG8vb0dFR0+gkoO4ZGeIVav1zrE8+DqPz+0rW1o3eLF/w/GLELNAAB42nWSz2vUQBTH3yTp
T9dStCoi1nfoQaFNt8WFuihYLNqieNguPXlwmp1kp2STMsm27H/gyZN48CheCl70piBe/BM8C3rz
2j9AfPMSl/HQhJn5zPv5zUwA4JY4BQHV06JRsYArcLdmD6bIU7EPS2N74MRMQAjPa56EBXhZ8yzc
h7eUJQKf6jS8b8wTxPPwi3nS2uGUeYrtf5inLYs55hmqdCAWaxYQitc1ezAnXtTsw/bYHjgxE/BM
/Kh5Em567ZpnYFHcrrkB694+86yj85zV4L1ibjj2OeZK/7zV4L1jvkh8wfvIvODEX+I6FV927Fc5
9zvzNY6pal53Ym44vMTx1VmtWPbtjYhpR/O0U7/h2Bu1/u7oUMUyUniCu6WMY5nhnk4jmRUhrjeb
rRA30xQ7OumXBXZUocyR6nVUMkyl6fYVbpoS8xh30nQ40JksdZa095QpdJ7hWthsuoxbKlKDfWVw
Y5mLL6POdKllikalShaKKlLBPHbLdfu6wDjPSjyWBUZGyVL1cFiQCx9a8wNryg22wibGJh/gNqld
eZInOgqjfAA57MNInAcFB5DBbxo5GBiAhBR2oaQ1gx7NBnr+G/+D/8X/SuOT/9l/D10YwSFlxuSP
aEU4oVFlxWzNaL8HmmpFvCvoz0dYhya9LeZN8qW0digqgT7lFrxTtCrqekRzj/cJDCnSKulSnOJc
Q/FIimOad7jSkLRr6iTJY9cE2qTAVipon7OiNepsFZxlR9gij/2iAZ2OjUHYgGVHuWVbXXMXyV9g
KDKlIVl5pbFSaPWdpc5+cUmn2IZVeo/5DdlXcud/Z2u1ZbSW8HR8Q7avdva2u3tnfGv/+TMYBYvB
WvA4eBTco/nO2PuTvYr2ks5cUp79E6x+Q6qtGvkXt5PYIAAAeNptzsdKw3AAwOFf2sSiFa1771Fn
3VuRWnwOiSGpsUmK/xpw4AAPguJC8AH0LHoUPKq4F66H8BlExbPfE3x4+PMdZI//LIDkkbx4kVFI
wU8qaaQTIINMssgmh1zyyKeAQooopoRSyiingkqqqKaGWoLUUU8DjTTRTIgWWmmjnQ466aKbHnrp
o58BBhlimDAjRBhDZRwNHYMoE5hMEsNmCkGCWeaY//0tssQyK6yyxjobbLLFNjvsss8BhxxxzAmn
kswZ51xwyRXX3HDLHfc88MgTz7zwyhvvfPDJl6RISZJPCTmuZQWcuGOrImY6UaFPu8KRR10R94Vt
VRNxxx/RTKG5tmHpM8kJ27R0Q9X0H1fwROwAAAAAAf//AAI=) format('woff'), url('TheArtofIlluminating.ttf')  format('truetype'), url('TheArtofIlluminating.svg#TheArtofIlluminating') format('svg');
  font-weight: normal;
  font-style: normal;
}


